In [8]:

import pandas as pd
import requests
import re
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', '{:.2f}'.format)
import numpy as np
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

In [9]:
data = pd.read_csv("marinedata.csv", index_col=0)

In [10]:
data.columns

Index(['date_year', 'sampleSizeUnit', 'class', 'scientificName', 'depth',
       'institutionCode', 'shoredistance', 'flags', 'maximumDepthInMeters',
       'absence', 'date_start', 'minimumDepthInMeters', 'subclass',
       'basisOfRecord', 'sss', 'sex', 'organismQuantity', 'sst', 'family',
       'kingdom', 'occurrenceID', 'bathymetry', 'date_end',
       'organismQuantityType', 'species', 'sampleSizeValue', 'genus',
       'waterBody', 'vernacularName', 'id_node', 'name', 'lon', 'lat'],
      dtype='object')

In [ ]:
data["date_start"] = pd.to_datetime(data["date_start"], unit='ms')
data.drop('absence', axis= 1, inplace= True)
data.drop('sampleSizeValue', axis= 1, inplace= True)

In [13]:
geolocator = Nominatim(user_agent="IreneDHA")

In [14]:
reverse = RateLimiter(geolocator.reverse, min_delay_seconds=1)

In [17]:
def get_city_country(row):
    lat = row['lat']
    lon = row['lon']

    try:
    # geopy.reverse recibe (lat, lon)
        location = reverse((lat, lon), language='en', exactly_one=True)
        if location is None:
            return pd.Series([None, None])
        address = location.raw.get('address', {}) # la respuesta cruda contiene un dict 'address'
        # diferentes sitios usan claves distintas para "ciudad"
        city = address.get('city') or address.get('town') or address.get('village') or address.get('municipality') or address.get('hamlet')
        country = address.get('country')
        return pd.Series([city, country])
    except Exception:
        # en caso de error (timeout, servidor) devolvemos None para no romper el proceso
        return pd.Series([None, None])

In [18]:
data[['city', 'country']] = data.apply(get_city_country, axis=1)

In [19]:
data.columns

Index(['date_year', 'sampleSizeUnit', 'class', 'scientificName', 'depth',
       'institutionCode', 'shoredistance', 'flags', 'maximumDepthInMeters',
       'date_start', 'minimumDepthInMeters', 'subclass', 'basisOfRecord',
       'sss', 'sex', 'organismQuantity', 'sst', 'family', 'kingdom',
       'occurrenceID', 'bathymetry', 'date_end', 'organismQuantityType',
       'species', 'genus', 'waterBody', 'vernacularName', 'id_node', 'name',
       'lon', 'lat', 'city', 'country'],
      dtype='object')

In [20]:
data['country'].value_counts()

country
United States     217
United Kingdom    118
Belgium           111
Australia          43
New Zealand        12
Greece             10
India               5
Canada              1
Ukraine             1
Ecuador             1
Name: count, dtype: int64

In [21]:
data['country'].isna().sum()

0

In [22]:
data['city'].value_counts()

city
Durham                   183
Plymouth                 118
Ostend                   101
Hobart                    43
Boulder                   34
WaitematƒÅ                 12
Gouves Municipal Unit     10
Brussels                  10
Ernakulam                  5
Dartmouth                  1
Odesa                      1
Guayaquil                  1
Name: count, dtype: int64

In [23]:
data['city'].isna().sum()

0

In [29]:
vernacular_corrections = {
    'Atlantic gray seal': 'Grey seal',
    'humpback whale': 'Humpback whale', 
    'WHALE-HUMPBACK': 'Humpback whale',
    'Humpback Whale': 'Humpback whale',
    'Humpback': 'Humpback whale',
    'Common Bottlenose Dolphin': 'Bottlenose dolphin',
    'Bottlenose dolphin': 'Bottlenose dolphin',
    'Cheilinus undulatus': 'Napoleon fish',
    'Humphead wrasse': 'Napoleon fish',
    }

In [30]:
data['vernacularName'] = data['vernacularName'].replace(vernacular_corrections)

In [32]:
data['scientificName'].value_counts(dropna=False)

scientificName
Neoturris pileata         100
Megaptera novaeangliae    100
Cheilinus undulatus       100
Tursiops truncatus        100
Halichoerus grypus        100
Phycocaris simulans        19
Name: count, dtype: int64

In [25]:
data['scientificName'].unique()

array(['Neoturris pileata', 'Megaptera novaeangliae',
       'Phycocaris simulans', 'Cheilinus undulatus', 'Tursiops truncatus',
       'Halichoerus grypus'], dtype=object)

In [33]:
dic = {'Neoturris pileata': 'Pileata jellyfish', 'Phycocaris simulans': 'Hairy shrimp', 'Megaptera novaeangliae': 'Humpback whale', 'Cheilinus undulatus':'Napoleon fish' , 'Tursiops truncatus': 'Bottlenose dolphin', 'Halichoerus grypus': 'Grey seal'}

In [34]:

data["vernacularName"] = data["vernacularName"].fillna(data["scientificName"].map(dic))

In [35]:
data['vernacularName'].value_counts(dropna=False)

vernacularName
Pileata jellyfish     100
Humpback whale        100
Napoleon fish         100
Bottlenose dolphin    100
Grey seal             100
Hairy shrimp           19
Name: count, dtype: int64

In [36]:
data["date_end"] = pd.to_datetime(data["date_end"], unit='ms')
data.drop('organismQuantity', axis= 1, inplace= True)
data.drop('organismQuantityType', axis= 1, inplace= True)

In [37]:

data['date_year'] = data['date_year'].astype('Int64')

In [43]:
data["flags"] = data["flags"].replace("[]", "sin observaciones")
data["institutionCode"] = data["institutionCode"].fillna("sin datos")
data["sampleSizeUnit"] = data["sampleSizeUnit"].fillna("desconocido")
data["bathymetry"] = data["bathymetry"].replace("-", "")

In [44]:
data.drop('depth', axis= 1, inplace= True)

In [45]:
data.columns = (
    data.columns
    .str.strip()        # quita espacios al inicio y fin
    .str.lower()        # pasa a min√∫sculas
    .str.replace(" ", "_")  # reemplaza espacios por gui√≥n bajo
)

In [46]:
data.columns

Index(['date_year', 'samplesizeunit', 'class', 'scientificname',
       'institutioncode', 'shoredistance', 'flags', 'maximumdepthinmeters',
       'date_start', 'minimumdepthinmeters', 'subclass', 'basisofrecord',
       'sss', 'sex', 'sst', 'family', 'kingdom', 'occurrenceid', 'bathymetry',
       'date_end', 'species', 'genus', 'waterbody', 'vernacularname',
       'id_node', 'name', 'lon', 'lat', 'city', 'country'],
      dtype='object')

In [41]:
data['depth'].value_counts(dropna=False)

depth
NaN        257
0.00        95
10.00       83
5.00        20
4.00         3
23.20        2
8.00         2
15.10        2
29.00        2
23.00        2
20.00        2
16.60        1
12.00        1
8.40         1
16.50        1
24.00        1
14.25        1
15.50        1
9.00         1
17.29        1
7.00         1
14.45        1
21.50        1
15.00        1
17.59        1
13.83        1
15.86        1
0.50         1
9.95         1
17.28        1
17.60        1
9.50         1
13.38        1
0.61         1
19.31        1
16.52        1
3952.00      1
11.50        1
26.00        1
28.00        1
20.05        1
14.75        1
0.92         1
11.17        1
55.00        1
17.20        1
15.40        1
15.55        1
9.20         1
9.25         1
14.00        1
12.74        1
13.00        1
21.30        1
16.66        1
18.00        1
1.37         1
21.00        1
12.70        1
22.94        1
Name: count, dtype: int64

In [39]:
data['bathymetry'].value_counts(dropna=False)

bathymetry
51.00     84
2.00      20
-1.00     17
6.00       9
56.00      9
          ..
1.56       1
-72.00     1
3.26       1
3.46       1
57.00      1
Name: count, Length: 244, dtype: int64

In [40]:
data['bathymetry'].unique()

array([ 5.1000e+01,  5.6000e+01,  2.9890e+03,  4.0670e+03,  4.5000e+01,
        2.2800e+01,  4.2000e+01,  1.0626e+03, -2.0000e+00,  2.5400e+01,
        5.4400e+02,  7.4000e+01,  8.0700e+02,  8.3000e+01,  5.3210e+03,
        3.3300e+02,  6.2000e+01,  1.2200e+02,  1.7000e+01,  6.5000e+02,
        3.3360e+01,  1.8400e+02,  5.5000e+01,  1.9000e+01,  3.3500e+02,
        9.8000e+01,  1.9500e+01,  9.1000e+01,  5.1000e+02,  7.3000e+01,
        1.2100e+02,  2.6000e+02,  3.4000e+01,  9.5000e+01,  2.2000e+01,
        9.3000e+01,  1.0000e+00,  2.0300e+02,  8.8000e+01,  6.7000e+02,
        4.8620e+03,  5.0000e+01,  1.7600e+02,  1.8570e+03,  1.5660e+03,
        1.2000e+01,  2.1000e+01,  8.0000e+01, -1.3000e+01,  1.6460e+03,
        5.4000e+01,  6.4000e+00,  7.5000e+01,  2.7010e+03,  2.6700e+02,
        3.4200e+02,  4.9000e+01,  8.0000e+02,  7.0000e+00,  2.5700e+02,
        2.7900e+02,  1.6770e+03,  1.1200e+02,  5.0800e+02,  3.0000e+01,
        7.9000e+02,  4.0300e+02,  1.7330e+03,  6.2100e+02,  7.1000e+01,
        1.7850e+01,  2.0500e+02,  1.5600e+02,  2.8000e+01,  1.4700e+02,
        8.1000e+01,  1.3600e+02,  9.4000e+01,  1.2400e+02,  7.0000e+01,
        4.0000e+02,  1.6800e+02,  5.1700e+02,  2.3000e+01,  1.1400e+02,
        1.2000e+02,  1.2300e+02,  1.4000e+01,  1.6110e+03,  2.6000e+01,
        1.3240e+03,  6.0000e+00,  8.0000e+00,  3.0000e+00,  2.0000e+00,
        1.2650e+03, -1.0000e+00, -3.3900e+02, -9.0000e+00,  1.4760e+01,
        4.7500e+00,  1.8500e+02,  5.8300e+00,  3.5100e+00,  5.3400e+00,
        3.4500e+03,  7.2720e+02,  1.5600e+00,  1.8000e+00, -7.2000e+01,
        3.2600e+00,  3.4600e+00,  7.2100e+00,  1.9600e+01,  8.3100e+00,
       -2.1000e+01,  2.9100e+02, -8.0000e+00,  1.0300e+02,  8.6000e+01,
        9.2500e+00,  4.0000e+00,  2.8780e+01,  7.0100e+00,  7.9400e+00,
        5.0400e+00,  7.8000e+01,  1.1600e+00,  2.0640e+01,  2.7700e+02,
        4.8000e+01,  2.4000e+01,  4.1000e+01,  5.8100e+02, -4.9000e+01,
        1.1200e+00, -7.5300e+02, -1.8000e+01,  3.6570e+01,  1.8000e+01,
       -5.2000e+01,  2.2700e+02,  6.0900e+00, -5.3000e+01, -6.0000e+00,
        3.1100e+02, -3.4000e+01,  1.5700e+02, -3.0000e+01,  4.1000e+00,
        8.7000e+01,  1.2130e+01,  1.4300e+02,  1.5400e+01, -7.0000e+00,
        3.2000e+00,  8.6000e+00, -1.6000e+00, -1.4000e+01,  2.8000e+00,
        9.2200e+02,  1.8600e+01,  1.0400e+01,  2.0000e+01,  1.4000e+00,
        4.4000e+01,  2.9460e+03,  5.0000e+00,  2.5600e+01,  1.3200e+01,
        1.6800e+01,  3.3550e+02, -3.0000e+00,  5.1400e+01,  1.1700e+02,
       -1.7000e+01, -7.2000e+00,  2.0400e+01,  1.3840e+03,  1.5200e+01,
        1.1800e+01,  3.9150e+02, -2.3000e+01,  3.4000e+00, -6.1000e+01,
        1.5300e+02,  4.4600e+01,  5.6000e+00, -4.0000e+00,  1.0000e+01,
        5.0700e+02,  7.4000e+00,  4.2200e+01, -1.8000e+00,  2.4000e+00,
        1.6145e+03,  1.7200e+01,  7.6000e+00,  8.2000e+00,  9.0000e+00,
       -5.0000e+00,  3.1000e+01,  1.3400e+01,  4.4000e+00,  1.1600e+01,
        1.4600e+01,  8.8000e+00,  1.0000e+02,  5.0400e+01,  1.2000e+00,
       -3.6000e+00,  1.0640e+02,  5.7400e+01,  1.6200e+01,  7.8400e+01,
        2.2400e+01,  5.4400e+01,  8.4000e+00,  9.6200e+01,  5.5400e+01,
        3.7000e+01,  0.0000e+00,  9.0000e+01,  1.8400e+01,  4.0000e-01,
        2.1800e+01,  6.7400e+01, -2.4000e+00,  3.9600e+01,  1.7400e+01,
       -4.5000e+01,  5.4000e+00,  4.6400e+01,  8.9800e+01,  1.1940e+02,
        6.7200e+01,  1.1140e+02,  1.2400e+01,  6.2000e+00,  8.6600e+01,
        3.3000e+01,  3.0400e+01,  1.1040e+02,  5.7000e+01])

In [42]:
data['shoredistance'].unique()

array([  6836,    356, 245856, 330816,    128,    166,    698,   6970,
           14,  13864, 157497,   6575,  16720,  29021, 998609,   8789,
          756,   6729,   1039,  18461,  11474,  10273,  32724,   7181,
        10035,   5007,  10321,  19881,   6241,   5740,   5176,  10941,
         2809,   5072,   4626,  10937,    308,   2251,   1548,   1099,
          593,   5315,  15789,   1279,  16887, 759895,   3800,   1717,
       655742,  11937,   3225, 129065,   4147,    354,  13032,    830,
         1533,    615, 295031,   4089,   4203, 315484,   5944,   1913,
        12755,   8896,   2549,   1331,   8230,   1956,   5708,  50015,
          504,   8268,  25942,  13123,  65989,   1418,   7477,   7495,
        45613,    663,    489,  25709,    569,   4076,   4331,   5251,
         2119,  13833,   7977,   6021,   1124,   5653,   4309,   8084,
        14173,  24367,  59860,   2986,  17210,  77172,    -39,   1685,
         2007,    205,   9488,    720,    574,     38,    425,   1224,
          719,    -19,   -728,    467,    494,   1108,    816,  14851,
         4389,  14975,  25989,  18959,  36896,  17909,  30581,   9090,
          129,    470,    101,  62375,    591,    290,   5438,    600,
        19105,     96,   3516,   6798,    261,    300,   1812,   5432,
         1021,    125,    440,  12825, 101108,    971,  33836,   4166,
        24174,    500,    228,    588,   1448,    258,      5,   1126,
        53846,   3082,   2470,    645,   4422,    144,   -703,    233,
        58969,  -1314,     76,    126,    717, 107286,    240,    628,
          790, 119778,  87806,     79,     26,    169,    170,    777,
         4428,  79920,    159,     13,   1352,     73,     49,    313,
          541,    148,    103,    353,    632,    501,     -9,    158,
          849,   8462,    316,    177,    340,    285,  37982,  13281,
       170357,    812,    954,   2665,    526,    359,    958,   3191,
           68,    224,    770,    145,   1746,    211,    978,   2815,
          191,   2367,    613,   4842,   1380,  -6957,  -1704,    384,
         -120,    546,  10487,   6478,    307,     60,    194,   1436,
         2598,     75,   -200,   -374,    592,    147,  14056,   1101,
            1,   5384,    357,     34,    455,   1046,    133,   3218,
          109,   1947,    686,    517,     45,  75791,    905,   2495,
         1230,   7279,    914,    218,   4154,   3050,   1208,   1841,
          562,    343,   -669,    508,    189,   2566,     81,    248,
          605,     42,    244,    641,  39117,  15945,  12856,  94504,
         1365,   -887,   3370,   -184,  11642,  63492,   8829,  11838,
          721,    344,   4174,     97,  13392,    -30,  28508,   2002,
        35695,  13362,   1390,     50,    693,    741,   2916,   6110,
          458,   1456,   4998,   4066,    387,    587,   1394,     17,
         9803,  20576,  11842,    639, 125510,   9299,   3381,   1295,
           20,    573,   1446,     16,      3,     30,    288,    904,
          163,    993,    216,   6928,   1134,  27937,   2256,   2056,
        12119,  74866,    838,   1000,  13083,  20529,   1477, 118012,
          122,  10125,    424,  12181,    528,    -25,   8100,  17663,
           80,   1384,  10791,    231,    607,   3148,    161,    -71,
         -469,  32849,     36,    472,  11876,    238,  17689,     53,
        14010], dtype=int64)

In [52]:
data.to_csv('marinedata_final.csv', index=False)