In [2]:
import pandas as pd
import requests
import re
pd.set_option('display.max_columns', None)

In [3]:
marineweb = "https://api.obis.org/v3/occurrence?scientificname=Neoturris%20pileata"
resmarineweb= requests.get(marineweb)

In [4]:
resmarineweb.status_code

200

In [16]:
especies = ["Neoturris%20pileata", "Megaptera%20novaeangliae","Phycocaris%20simulans", "Cheilinus%20undulatos", "Tursiops%20truncatus","Halichoerus%20grypus"]

In [32]:
for especie in especies:
    marineweb = f"https://api.obis.org/v3/occurrence?scientificname={especie}"

resmarineweb2= requests.get(marineweb)

In [25]:
resmarineweb2.status_code

200

In [ ]:
urllist = []

for especie in especies:
    urllist.append(f"https://api.obis.org/v3/occurrence?scientificname={especie}")

In [26]:
epiturras= pd.DataFrame(marinedata["results"])[["occurrenceID","scientificName","basisOfRecord","class", "subclass", "family", "genus", "kingdom","species","date_start","date_end","date_year","depth","minimumDepthInMeters","maximumDepthInMeters","organismQuantity","organismQuantityType","sampleSizeUnit","sampleSizeValue","node_id","dropped","absence","flags","bathymetry","shoredistance", "sst", "sss" ]]

In [29]:
epiturras.shape

(10, 27)

In [27]:
epiturras

,occurrenceID,scientificName,basisOfRecord,class,subclass,family,genus,kingdom,species,date_start,date_end,date_year,depth,minimumDepthInMeters,maximumDepthInMeters,organismQuantity,organismQuantityType,sampleSizeUnit,sampleSizeValue,node_id,dropped,absence,flags,bathymetry,shoredistance,sst,sss
0,6911,Neoturris pileata,MaterialSample,Hydrozoa,Hydroidolina,Pandeidae,Neoturris,Animalia,Neoturris pileata,1087171200000,1087171200000,2004,10,10,10,0,DNA sequence reads,DNA reads,68429,[f92d5d7f-47a6-4605-9fd0-a8538dfde3fd],False,False,[],51,6836,12.86,34.79
1,20764,Neoturris pileata,MaterialSample,Hydrozoa,Hydroidolina,Pandeidae,Neoturris,Animalia,Neoturris pileata,1092009600000,1092009600000,2004,10,10,10,0,DNA sequence reads,DNA reads,14632,[f92d5d7f-47a6-4605-9fd0-a8538dfde3fd],False,False,[],51,6836,12.86,34.79
2,206790,Neoturris pileata,MaterialSample,Hydrozoa,Hydroidolina,Pandeidae,Neoturris,Animalia,Neoturris pileata,1184025600000,1184025600000,2007,10,10,10,539,DNA sequence reads,DNA reads,12014,[f92d5d7f-47a6-4605-9fd0-a8538dfde3fd],False,False,[],51,6836,12.86,34.79
3,766847,Neoturris pileata,MaterialSample,Hydrozoa,Hydroidolina,Pandeidae,Neoturris,Animalia,Neoturris pileata,1445472000000,1445472000000,2015,10,10,10,0,DNA sequence reads,DNA reads,46899,[f92d5d7f-47a6-4605-9fd0-a8538dfde3fd],False,False,[],51,6836,12.86,34.79
4,80134,Neoturris pileata,MaterialSample,Hydrozoa,Hydroidolina,Pandeidae,Neoturris,Animalia,Neoturris pileata,1137369600000,1137369600000,2006,10,10,10,0,DNA sequence reads,DNA reads,58996,[f92d5d7f-47a6-4605-9fd0-a8538dfde3fd],False,False,[],51,6836,12.86,34.79
5,50449,Neoturris pileata,MaterialSample,Hydrozoa,Hydroidolina,Pandeidae,Neoturris,Animalia,Neoturris pileata,1103500800000,1103500800000,2004,10,10,10,0,DNA sequence reads,DNA reads,57820,[f92d5d7f-47a6-4605-9fd0-a8538dfde3fd],False,False,[],51,6836,12.86,34.79
6,264181,Neoturris pileata,MaterialSample,Hydrozoa,Hydroidolina,Pandeidae,Neoturris,Animalia,Neoturris pileata,1225756800000,1225756800000,2008,10,10,10,0,DNA sequence reads,DNA reads,121840,[f92d5d7f-47a6-4605-9fd0-a8538dfde3fd],False,False,[],51,6836,12.86,34.79
7,1035991,Neoturris pileata,MaterialSample,Hydrozoa,Hydroidolina,Pandeidae,Neoturris,Animalia,Neoturris pileata,1067212800000,1067212800000,2003,10,10,10,0,DNA sequence reads,DNA reads,39900,[f92d5d7f-47a6-4605-9fd0-a8538dfde3fd],False,False,[],51,6836,12.86,34.79
8,709456,Neoturris pileata,MaterialSample,Hydrozoa,Hydroidolina,Pandeidae,Neoturris,Animalia,Neoturris pileata,1421712000000,1421712000000,2015,10,10,10,0,DNA sequence reads,DNA reads,36756,[f92d5d7f-47a6-4605-9fd0-a8538dfde3fd],False,False,[],51,6836,12.86,34.79
9,188979,Neoturris pileata,MaterialSample,Hydrozoa,Hydroidolina,Pandeidae,Neoturris,Animalia,Neoturris pileata,1177632000000,1177632000000,2007,10,10,10,0,DNA sequence reads,DNA reads,7672,[f92d5d7f-47a6-4605-9fd0-a8538dfde3fd],False,False,[],51,6836,12.86,34.79

In [5]:
marinedata = resmarineweb.json()
marinedata

{'total': 621,
 'results': [{'associatedSequences': 'None',
   'basisOfRecord': 'MaterialSample',
   'class': 'Hydrozoa',
   'classid': 1337,
   'date_end': 1087171200000,
   'date_mid': 1087171200000,
   'date_start': 1087171200000,
   'date_year': 2004,
   'decimalLatitude': 50.25,
   'decimalLongitude': -4.217,
   'depth': 10,
   'eventDate': '2004-06-14',
   'eventID': 'sample_13',
   'family': 'Pandeidae',
   'familyid': 15029,
   'genus': 'Neoturris',
   'genusid': 117185,
   'identificationReferences': 'None',
   'identificationRemarks': 'isolate DNA1280 small subunit ribosomal RNA gene, partial sequence; internal transcribed spacer 1, 5.8S ribosomal RNA gene, and internal transcribed spacer 2, complete sequence; and large subunit ribosomal RNA gene, partial sequence',
   'kingdom': 'Animalia',
   'kingdomid': 2,
   'marine': True,
   'maximumDepthInMeters': 10,
   'minimumDepthInMeters': 10,
   'nameAccordingTo': 'None',
   'occurrenceID': '6911',
   'order': 'Anthoathecata',
   'orderid': 13551,
   'organismQuantity': '0',
   'organismQuantityType': 'DNA sequence reads',
   'phylum': 'Cnidaria',
   'phylumid': 1267,
   'sampleSizeUnit': 'DNA reads',
   'sampleSizeValue': '68429',
   'scientificName': 'Neoturris pileata',
   'scientificNameID': 'urn:lsid:marinespecies.org:taxname:117796',
   'species': 'Neoturris pileata',
   'speciesid': 117796,
   'subclass': 'Hydroidolina',
   'subclassid': 19494,
   'suborder': 'Filifera',
   'suborderid': 16352,
   'subphylum': 'Medusozoa',
   'subphylumid': 1740301,
   'taxonConceptID': 'None',
   'taxonID': '117796',
   'id': '000e8e17-12ec-4be4-91c1-3ed22f7696a8',
   'dataset_id': '7cc6bbd4-b9dd-4d0e-a157-7bde083a3ae4',
   'node_id': ['f92d5d7f-47a6-4605-9fd0-a8538dfde3fd'],
   'dropped': False,
   'absence': False,
   'originalScientificName': 'Neoturris pileata',
   'aphiaID': 117796,
   'flags': [],
   'bathymetry': 51,
   'shoredistance': 6836,
   'sst': 12.86,
   'sss': 34.79},
  {'associatedSequences': 'None',
   'basisOfRecord': 'MaterialSample',
   'class': 'Hydrozoa',
   'classid': 1337,
   'date_end': 1092009600000,
   'date_mid': 1092009600000,
   'date_start': 1092009600000,
   'date_year': 2004,
   'decimalLatitude': 50.25,
   'decimalLongitude': -4.217,
   'depth': 10,
   'eventDate': '2004-08-09',
   'eventID': 'sample_20',
   'family': 'Pandeidae',
   'familyid': 15029,
   'genus': 'Neoturris',
   'genusid': 117185,
   'identificationReferences': 'None',
   'identificationRemarks': 'isolate DNA1280 small subunit ribosomal RNA gene, partial sequence; internal transcribed spacer 1, 5.8S ribosomal RNA gene, and internal transcribed spacer 2, complete sequence; and large subunit ribosomal RNA gene, partial sequence',
   'kingdom': 'Animalia',
   'kingdomid': 2,
   'marine': True,
   'maximumDepthInMeters': 10,
   'minimumDepthInMeters': 10,
   'nameAccordingTo': 'None',
   'occurrenceID': '20764',
   'order': 'Anthoathecata',
   'orderid': 13551,
   'organismQuantity': '0',
   'organismQuantityType': 'DNA sequence reads',
   'phylum': 'Cnidaria',
   'phylumid': 1267,
   'sampleSizeUnit': 'DNA reads',
   'sampleSizeValue': '14632',
   'scientificName': 'Neoturris pileata',
   'scientificNameID': 'urn:lsid:marinespecies.org:taxname:117796',
   'species': 'Neoturris pileata',
   'speciesid': 117796,
   'subclass': 'Hydroidolina',
   'subclassid': 19494,
   'suborder': 'Filifera',
   'suborderid': 16352,
   'subphylum': 'Medusozoa',
   'subphylumid': 1740301,
   'taxonConceptID': 'None',
   'taxonID': '117796',
   'id': '008f2740-541d-4e72-a523-ea84fcc21e6b',
   'dataset_id': '7cc6bbd4-b9dd-4d0e-a157-7bde083a3ae4',
   'node_id': ['f92d5d7f-47a6-4605-9fd0-a8538dfde3fd'],
   'dropped': False,
   'absence': False,
   'originalScientificName': 'Neoturris pileata',
   'aphiaID': 117796,
   'flags': [],
   'bathymetry': 51,
   'shoredistance': 6836,
   'sst': 12.86,
   'sss': 34.79},
  {'associatedSequences': 'None',
   'basisOfRecord': 'MaterialSample',
   'class': 'Hydrozoa',
   'classid': 1337,
   'date_end': 1184025600000,
   'date_mid': 1184025600000,
   'date_start': 1184025600000,
   'date_year': 2007,
   'decimalLatitude': 50.25,
   'decimalLongitude': -4.217,
   'depth': 10,
   'eventDate': '2007-07-10',
   'eventID': 'sample_114',
   'family': 'Pandeidae',
   'familyid': 15029,
   'genus': 'Neoturris',
   'genusid': 117185,
   'identificationReferences': 'None',
   'identificationRemarks': 'isolate DNA1280 small subunit ribosomal RNA gene, partial sequence; internal transcribed spacer 1, 5.8S ribosomal RNA gene, and internal transcribed spacer 2, complete sequence; and large subunit ribosomal RNA gene, partial sequence',
   'kingdom': 'Animalia',
   'kingdomid': 2,
   'marine': True,
   'maximumDepthInMeters': 10,
   'minimumDepthInMeters': 10,
   'nameAccordingTo': 'None',
   'occurrenceID': '206790',
   'order': 'Anthoathecata',
   'orderid': 13551,
   'organismQuantity': '539',
   'organismQuantityType': 'DNA sequence reads',
   'phylum': 'Cnidaria',
   'phylumid': 1267,
   'sampleSizeUnit': 'DNA reads',
   'sampleSizeValue': '12014',
   'scientificName': 'Neoturris pileata',
   'scientificNameID': 'urn:lsid:marinespecies.org:taxname:117796',
   'species': 'Neoturris pileata',
   'speciesid': 117796,
   'subclass': 'Hydroidolina',
   'subclassid': 19494,
   'suborder': 'Filifera',
   'suborderid': 16352,
   'subphylum': 'Medusozoa',
   'subphylumid': 1740301,
   'taxonConceptID': 'None',
   'taxonID': '117796',
   'id': '01c89c3a-bf4a-4b2c-acd7-bcfae201f790',
   'dataset_id': '7cc6bbd4-b9dd-4d0e-a157-7bde083a3ae4',
   'node_id': ['f92d5d7f-47a6-4605-9fd0-a8538dfde3fd'],
   'dropped': False,
   'absence': False,
   'originalScientificName': 'Neoturris pileata',
   'aphiaID': 117796,
   'flags': [],
   'bathymetry': 51,
   'shoredistance': 6836,
   'sst': 12.86,
   'sss': 34.79},
  {'associatedSequences': 'None',
   'basisOfRecord': 'MaterialSample',
   'class': 'Hydrozoa',
   'classid': 1337,
   'date_end': 1445472000000,
   'date_mid': 1445472000000,
   'date_start': 1445472000000,
   'date_year': 2015,
   'decimalLatitude': 50.25,
   'decimalLongitude': -4.217,
   'depth': 10,
   'eventDate': '2015-10-22',
   'eventID': 'sample_398',
   'family': 'Pandeidae',
   'familyid': 15029,
   'genus': 'Neoturris',
   'genusid': 117185,
   'identificationReferences': 'None',
   'identificationRemarks': 'isolate DNA1280 small subunit ribosomal RNA gene, partial sequence; internal transcribed spacer 1, 5.8S ribosomal RNA gene, and internal transcribed spacer 2, complete sequence; and large subunit ribosomal RNA gene, partial sequence',
   'kingdom': 'Animalia',
   'kingdomid': 2,
   'marine': True,
   'maximumDepthInMeters': 10,
   'minimumDepthInMeters': 10,
   'nameAccordingTo': 'None',
   'occurrenceID': '766847',
   'order': 'Anthoathecata',
   'orderid': 13551,
   'organismQuantity': '0',
   'organismQuantityType': 'DNA sequence reads',
   'phylum': 'Cnidaria',
   'phylumid': 1267,
   'sampleSizeUnit': 'DNA reads',
   'sampleSizeValue': '46899',
   'scientificName': 'Neoturris pileata',
   'scientificNameID': 'urn:lsid:marinespecies.org:taxname:117796',
   'species': 'Neoturris pileata',
   'speciesid': 117796,
   'subclass': 'Hydroidolina',
   'subclassid': 19494,
   'suborder': 'Filifera',
   'suborderid': 16352,
   'subphylum': 'Medusozoa',
   'subphylumid': 1740301,
   'taxonConceptID': 'None',
   'taxonID': '117796',
   'id': '02f681fa-04a2-4513-97ea-7cef5279edfe',
   'dataset_id': '7cc6bbd4-b9dd-4d0e-a157-7bde083a3ae4',
   'node_id': ['f92d5d7f-47a6-4605-9fd0-a8538dfde3fd'],
   'dropped': False,
   'absence': False,
   'originalScientificName': 'Neoturris pileata',
   'aphiaID': 117796,
   'flags': [],
   'bathymetry': 51,
   'shoredistance': 6836,
   'sst': 12.86,
   'sss': 34.79},
  {'associatedSequences': 'None',
   'basisOfRecord': 'MaterialSample',
   'class': 'Hydrozoa',
   'classid': 1337,
   'date_end': 1137369600000,
   'date_mid': 1137369600000,
   'date_start': 1137369600000,
   'date_year': 2006,
   'decimalLatitude': 50.25,
   'decimalLongitude': -4.217,
   'depth': 10,
   'eventDate': '2006-01-16',
   'eventID': 'sample_50',
   'family': 'Pandeidae',
   'familyid': 15029,
   'genus': 'Neoturris',
   'genusid': 117185,
   'identificationReferences': 'None',
   'identificationRemarks': 'isolate DNA1280 small subunit ribosomal RNA gene, partial sequence; internal transcribed spacer 1, 5.8S ribosomal RNA gene, and internal transcribed spacer 2, complete sequence; and large subunit ribosomal RNA gene, partial sequence',
   'kingdom': 'Animalia',
   'kingdomid': 2,
   'marine': True,
   'maximumDepthInMeters': 10,
   'minimumDepthInMeters': 10,
   'nameAccordingTo': 'None',
   'occurrenceID': '80134',
   'order': 'Anthoathecata',
   'orderid': 13551,
   'organismQuantity': '0',
   'organismQuantityType': 'DNA sequence reads',
   'phylum': 'Cnidaria',
   'phylumid': 1267,
   'sampleSizeUnit': 'DNA reads',
   'sampleSizeValue': '58996',
   'scientificName': 'Neoturris pileata',
   'scientificNameID': 'urn:lsid:marinespecies.org:taxname:117796',
   'species': 'Neoturris pileata',
   'speciesid': 117796,
   'subclass': 'Hydroidolina',
   'subclassid': 19494,
   'suborder': 'Filifera',
   'suborderid': 16352,
   'subphylum': 'Medusozoa',
   'subphylumid': 1740301,
   'taxonConceptID': 'None',
   'taxonID': '117796',
   'id': '03ac5377-fe99-49a3-adc6-834de892fa01',
   'dataset_id': '7cc6bbd4-b9dd-4d0e-a157-7bde083a3ae4',
   'node_id': ['f92d5d7f-47a6-4605-9fd0-a8538dfde3fd'],
   'dropped': False,
   'absence': False,
   'originalScientificName': 'Neoturris pileata',
   'aphiaID': 117796,
   'flags': [],
   'bathymetry': 51,
   'shoredistance': 6836,
   'sst': 12.86,
   'sss': 34.79},
  {'associatedSequences': 'None',
   'basisOfRecord': 'MaterialSample',
   'class': 'Hydrozoa',
   'classid': 1337,
   'date_end': 1103500800000,
   'date_mid': 1103500800000,
   'date_start': 1103500800000,
   'date_year': 2004,
   'decimalLatitude': 50.25,
   'decimalLongitude': -4.217,
   'depth': 10,
   'eventDate': '2004-12-20',
   'eventID': 'sample_35',
   'family': 'Pandeidae',
   'familyid': 15029,
   'genus': 'Neoturris',
   'genusid': 117185,
   'identificationReferences': 'None',
   'identificationRemarks': 'isolate DNA1280 small subunit ribosomal RNA gene, partial sequence; internal transcribed spacer 1, 5.8S ribosomal RNA gene, and internal transcribed spacer 2, complete sequence; and large subunit ribosomal RNA gene, partial sequence',
   'kingdom': 'Animalia',
   'kingdomid': 2,
   'marine': True,
   'maximumDepthInMeters': 10,
   'minimumDepthInMeters': 10,
   'nameAccordingTo': 'None',
   'occurrenceID': '50449',
   'order': 'Anthoathecata',
   'orderid': 13551,
   'organismQuantity': '0',
   'organismQuantityType': 'DNA sequence reads',
   'phylum': 'Cnidaria',
   'phylumid': 1267,
   'sampleSizeUnit': 'DNA reads',
   'sampleSizeValue': '57820',
   'scientificName': 'Neoturris pileata',
   'scientificNameID': 'urn:lsid:marinespecies.org:taxname:117796',
   'species': 'Neoturris pileata',
   'speciesid': 117796,
   'subclass': 'Hydroidolina',
   'subclassid': 19494,
   'suborder': 'Filifera',
   'suborderid': 16352,
   'subphylum': 'Medusozoa',
   'subphylumid': 1740301,
   'taxonConceptID': 'None',
   'taxonID': '117796',
   'id': '03cfabe4-b8da-4a9d-9dfe-5d4377c6e66e',
   'dataset_id': '7cc6bbd4-b9dd-4d0e-a157-7bde083a3ae4',
   'node_id': ['f92d5d7f-47a6-4605-9fd0-a8538dfde3fd'],
   'dropped': False,
   'absence': False,
   'originalScientificName': 'Neoturris pileata',
   'aphiaID': 117796,
   'flags': [],
   'bathymetry': 51,
   'shoredistance': 6836,
   'sst': 12.86,
   'sss': 34.79},
  {'associatedSequences': 'None',
   'basisOfRecord': 'MaterialSample',
   'class': 'Hydrozoa',
   'classid': 1337,
   'date_end': 1225756800000,
   'date_mid': 1225756800000,
   'date_start': 1225756800000,
   'date_year': 2008,
   'decimalLatitude': 50.25,
   'decimalLongitude': -4.217,
   'depth': 10,
   'eventDate': '2008-11-04',
   'eventID': 'sample_143',
   'family': 'Pandeidae',
   'familyid': 15029,
   'genus': 'Neoturris',
   'genusid': 117185,
   'identificationReferences': 'None',
   'identificationRemarks': 'isolate DNA1280 small subunit ribosomal RNA gene, partial sequence; internal transcribed spacer 1, 5.8S ribosomal RNA gene, and internal transcribed spacer 2, complete sequence; and large subunit ribosomal RNA gene, partial sequence',
   'kingdom': 'Animalia',
   'kingdomid': 2,
   'marine': True,
   'maximumDepthInMeters': 10,
   'minimumDepthInMeters': 10,
   'nameAccordingTo': 'None',
   'occurrenceID': '264181',
   'order': 'Anthoathecata',
   'orderid': 13551,
   'organismQuantity': '0',
   'organismQuantityType': 'DNA sequence reads',
   'phylum': 'Cnidaria',
   'phylumid': 1267,
   'sampleSizeUnit': 'DNA reads',
   'sampleSizeValue': '121840',
   'scientificName': 'Neoturris pileata',
   'scientificNameID': 'urn:lsid:marinespecies.org:taxname:117796',
   'species': 'Neoturris pileata',
   'speciesid': 117796,
   'subclass': 'Hydroidolina',
   'subclassid': 19494,
   'suborder': 'Filifera',
   'suborderid': 16352,
   'subphylum': 'Medusozoa',
   'subphylumid': 1740301,
   'taxonConceptID': 'None',
   'taxonID': '117796',
   'id': '03e60379-15d2-4cff-a859-bf089dec47ed',
   'dataset_id': '7cc6bbd4-b9dd-4d0e-a157-7bde083a3ae4',
   'node_id': ['f92d5d7f-47a6-4605-9fd0-a8538dfde3fd'],
   'dropped': False,
   'absence': False,
   'originalScientificName': 'Neoturris pileata',
   'aphiaID': 117796,
   'flags': [],
   'bathymetry': 51,
   'shoredistance': 6836,
   'sst': 12.86,
   'sss': 34.79},
  {'associatedSequences': 'None',
   'basisOfRecord': 'MaterialSample',
   'class': 'Hydrozoa',
   'classid': 1337,
   'date_end': 1067212800000,
   'date_mid': 1067212800000,
   'date_start': 1067212800000,
   'date_year': 2003,
   'decimalLatitude': 50.25,
   'decimalLongitude': -4.217,
   'depth': 10,
   'eventDate': '2003-10-27',
   'eventID': 'sample_540',
   'family': 'Pandeidae',
   'familyid': 15029,
   'genus': 'Neoturris',
   'genusid': 117185,
   'identificationReferences': 'None',
   'identificationRemarks': 'isolate DNA1280 small subunit ribosomal RNA gene, partial sequence; internal transcribed spacer 1, 5.8S ribosomal RNA gene, and internal transcribed spacer 2, complete sequence; and large subunit ribosomal RNA gene, partial sequence',
   'kingdom': 'Animalia',
   'kingdomid': 2,
   'marine': True,
   'maximumDepthInMeters': 10,
   'minimumDepthInMeters': 10,
   'nameAccordingTo': 'None',
   'occurrenceID': '1035991',
   'order': 'Anthoathecata',
   'orderid': 13551,
   'organismQuantity': '0',
   'organismQuantityType': 'DNA sequence reads',
   'phylum': 'Cnidaria',
   'phylumid': 1267,
   'sampleSizeUnit': 'DNA reads',
   'sampleSizeValue': '39900',
   'scientificName': 'Neoturris pileata',
   'scientificNameID': 'urn:lsid:marinespecies.org:taxname:117796',
   'species': 'Neoturris pileata',
   'speciesid': 117796,
   'subclass': 'Hydroidolina',
   'subclassid': 19494,
   'suborder': 'Filifera',
   'suborderid': 16352,
   'subphylum': 'Medusozoa',
   'subphylumid': 1740301,
   'taxonConceptID': 'None',
   'taxonID': '117796',
   'id': '03ff4454-2b76-4122-9259-36fc709e23f2',
   'dataset_id': '7cc6bbd4-b9dd-4d0e-a157-7bde083a3ae4',
   'node_id': ['f92d5d7f-47a6-4605-9fd0-a8538dfde3fd'],
   'dropped': False,
   'absence': False,
   'originalScientificName': 'Neoturris pileata',
   'aphiaID': 117796,
   'flags': [],
   'bathymetry': 51,
   'shoredistance': 6836,
   'sst': 12.86,
   'sss': 34.79},
  {'associatedSequences': 'None',
   'basisOfRecord': 'MaterialSample',
   'class': 'Hydrozoa',
   'classid': 1337,
   'date_end': 1421712000000,
   'date_mid': 1421712000000,
   'date_start': 1421712000000,
   'date_year': 2015,
   'decimalLatitude': 50.25,
   'decimalLongitude': -4.217,
   'depth': 10,
   'eventDate': '2015-01-20',
   'eventID': 'sample_369',
   'family': 'Pandeidae',
   'familyid': 15029,
   'genus': 'Neoturris',
   'genusid': 117185,
   'identificationReferences': 'None',
   'identificationRemarks': 'isolate DNA1280 small subunit ribosomal RNA gene, partial sequence; internal transcribed spacer 1, 5.8S ribosomal RNA gene, and internal transcribed spacer 2, complete sequence; and large subunit ribosomal RNA gene, partial sequence',
   'kingdom': 'Animalia',
   'kingdomid': 2,
   'marine': True,
   'maximumDepthInMeters': 10,
   'minimumDepthInMeters': 10,
   'nameAccordingTo': 'None',
   'occurrenceID': '709456',
   'order': 'Anthoathecata',
   'orderid': 13551,
   'organismQuantity': '0',
   'organismQuantityType': 'DNA sequence reads',
   'phylum': 'Cnidaria',
   'phylumid': 1267,
   'sampleSizeUnit': 'DNA reads',
   'sampleSizeValue': '36756',
   'scientificName': 'Neoturris pileata',
   'scientificNameID': 'urn:lsid:marinespecies.org:taxname:117796',
   'species': 'Neoturris pileata',
   'speciesid': 117796,
   'subclass': 'Hydroidolina',
   'subclassid': 19494,
   'suborder': 'Filifera',
   'suborderid': 16352,
   'subphylum': 'Medusozoa',
   'subphylumid': 1740301,
   'taxonConceptID': 'None',
   'taxonID': '117796',
   'id': '040f17c2-0e64-43ac-86d1-ade17b5cc015',
   'dataset_id': '7cc6bbd4-b9dd-4d0e-a157-7bde083a3ae4',
   'node_id': ['f92d5d7f-47a6-4605-9fd0-a8538dfde3fd'],
   'dropped': False,
   'absence': False,
   'originalScientificName': 'Neoturris pileata',
   'aphiaID': 117796,
   'flags': [],
   'bathymetry': 51,
   'shoredistance': 6836,
   'sst': 12.86,
   'sss': 34.79},
  {'associatedSequences': 'None',
   'basisOfRecord': 'MaterialSample',
   'class': 'Hydrozoa',
   'classid': 1337,
   'date_end': 1177632000000,
   'date_mid': 1177632000000,
   'date_start': 1177632000000,
   'date_year': 2007,
   'decimalLatitude': 50.25,
   'decimalLongitude': -4.217,
   'depth': 10,
   'eventDate': '2007-04-27',
   'eventID': 'sample_105',
   'family': 'Pandeidae',
   'familyid': 15029,
   'genus': 'Neoturris',
   'genusid': 117185,
   'identificationReferences': 'None',
   'identificationRemarks': 'isolate DNA1280 small subunit ribosomal RNA gene, partial sequence; internal transcribed spacer 1, 5.8S ribosomal RNA gene, and internal transcribed spacer 2, complete sequence; and large subunit ribosomal RNA gene, partial sequence',
   'kingdom': 'Animalia',
   'kingdomid': 2,
   'marine': True,
   'maximumDepthInMeters': 10,
   'minimumDepthInMeters': 10,
   'nameAccordingTo': 'None',
   'occurrenceID': '188979',
   'order': 'Anthoathecata',
   'orderid': 13551,
   'organismQuantity': '0',
   'organismQuantityType': 'DNA sequence reads',
   'phylum': 'Cnidaria',
   'phylumid': 1267,
   'sampleSizeUnit': 'DNA reads',
   'sampleSizeValue': '7672',
   'scientificName': 'Neoturris pileata',
   'scientificNameID': 'urn:lsid:marinespecies.org:taxname:117796',
   'species': 'Neoturris pileata',
   'speciesid': 117796,
   'subclass': 'Hydroidolina',
   'subclassid': 19494,
   'suborder': 'Filifera',
   'suborderid': 16352,
   'subphylum': 'Medusozoa',
   'subphylumid': 1740301,
   'taxonConceptID': 'None',
   'taxonID': '117796',
   'id': '047fb9c6-454d-48bc-8500-914882aaebad',
   'dataset_id': '7cc6bbd4-b9dd-4d0e-a157-7bde083a3ae4',
   'node_id': ['f92d5d7f-47a6-4605-9fd0-a8538dfde3fd'],
   'dropped': False,
   'absence': False,
   'originalScientificName': 'Neoturris pileata',
   'aphiaID': 117796,
   'flags': [],
   'bathymetry': 51,
   'shoredistance': 6836,
   'sst': 12.86,
   'sss': 34.79}]}

In [6]:
marinedata.keys()

dict_keys(['total', 'results'])

In [7]:
len(marinedata["results"])

10

In [82]:
len(marinedata["results"][1].keys())

58

In [83]:
dataframetest = pd.DataFrame(marinedata["results"])

In [93]:
len(dataframetest.columns)

58

In [12]:
dfNeoturris= pd.DataFrame(marinedata["results"])[["occurrenceID","scientificName","basisOfRecord","class", "subclass", "family", "genus", "kingdom","species","date_start","date_end","date_year","depth","minimumDepthInMeters","maximumDepthInMeters","organismQuantity","organismQuantityType","sampleSizeUnit","sampleSizeValue","node_id","dropped","absence","flags","bathymetry","shoredistance", "sst", "sss" ]]

In [13]:
len(dfNeoturris.columns)

27

In [11]:
dfNeoturris

,occurrenceID,scientificName,basisOfRecord,class,classid,subclass,family,genus,kingdom,species,date_start,date_end,date_year,depth,minimumDepthInMeters,maximumDepthInMeters,organismQuantity,organismQuantityType,sampleSizeUnit,sampleSizeValue,node_id,dropped,absence,flags,bathymetry,shoredistance,sst,sss
0,6911,Neoturris pileata,MaterialSample,Hydrozoa,1337,Hydroidolina,Pandeidae,Neoturris,Animalia,Neoturris pileata,1087171200000,1087171200000,2004,10,10,10,0,DNA sequence reads,DNA reads,68429,[f92d5d7f-47a6-4605-9fd0-a8538dfde3fd],False,False,[],51,6836,12.86,34.79
1,20764,Neoturris pileata,MaterialSample,Hydrozoa,1337,Hydroidolina,Pandeidae,Neoturris,Animalia,Neoturris pileata,1092009600000,1092009600000,2004,10,10,10,0,DNA sequence reads,DNA reads,14632,[f92d5d7f-47a6-4605-9fd0-a8538dfde3fd],False,False,[],51,6836,12.86,34.79
2,206790,Neoturris pileata,MaterialSample,Hydrozoa,1337,Hydroidolina,Pandeidae,Neoturris,Animalia,Neoturris pileata,1184025600000,1184025600000,2007,10,10,10,539,DNA sequence reads,DNA reads,12014,[f92d5d7f-47a6-4605-9fd0-a8538dfde3fd],False,False,[],51,6836,12.86,34.79
3,766847,Neoturris pileata,MaterialSample,Hydrozoa,1337,Hydroidolina,Pandeidae,Neoturris,Animalia,Neoturris pileata,1445472000000,1445472000000,2015,10,10,10,0,DNA sequence reads,DNA reads,46899,[f92d5d7f-47a6-4605-9fd0-a8538dfde3fd],False,False,[],51,6836,12.86,34.79
4,80134,Neoturris pileata,MaterialSample,Hydrozoa,1337,Hydroidolina,Pandeidae,Neoturris,Animalia,Neoturris pileata,1137369600000,1137369600000,2006,10,10,10,0,DNA sequence reads,DNA reads,58996,[f92d5d7f-47a6-4605-9fd0-a8538dfde3fd],False,False,[],51,6836,12.86,34.79
5,50449,Neoturris pileata,MaterialSample,Hydrozoa,1337,Hydroidolina,Pandeidae,Neoturris,Animalia,Neoturris pileata,1103500800000,1103500800000,2004,10,10,10,0,DNA sequence reads,DNA reads,57820,[f92d5d7f-47a6-4605-9fd0-a8538dfde3fd],False,False,[],51,6836,12.86,34.79
6,264181,Neoturris pileata,MaterialSample,Hydrozoa,1337,Hydroidolina,Pandeidae,Neoturris,Animalia,Neoturris pileata,1225756800000,1225756800000,2008,10,10,10,0,DNA sequence reads,DNA reads,121840,[f92d5d7f-47a6-4605-9fd0-a8538dfde3fd],False,False,[],51,6836,12.86,34.79
7,1035991,Neoturris pileata,MaterialSample,Hydrozoa,1337,Hydroidolina,Pandeidae,Neoturris,Animalia,Neoturris pileata,1067212800000,1067212800000,2003,10,10,10,0,DNA sequence reads,DNA reads,39900,[f92d5d7f-47a6-4605-9fd0-a8538dfde3fd],False,False,[],51,6836,12.86,34.79
8,709456,Neoturris pileata,MaterialSample,Hydrozoa,1337,Hydroidolina,Pandeidae,Neoturris,Animalia,Neoturris pileata,1421712000000,1421712000000,2015,10,10,10,0,DNA sequence reads,DNA reads,36756,[f92d5d7f-47a6-4605-9fd0-a8538dfde3fd],False,False,[],51,6836,12.86,34.79
9,188979,Neoturris pileata,MaterialSample,Hydrozoa,1337,Hydroidolina,Pandeidae,Neoturris,Animalia,Neoturris pileata,1177632000000,1177632000000,2007,10,10,10,0,DNA sequence reads,DNA reads,7672,[f92d5d7f-47a6-4605-9fd0-a8538dfde3fd],False,False,[],51,6836,12.86,34.79

In [81]:
pd.DataFrame(marinedata["results"])[["class","classid"]]

      class  classid
0  Hydrozoa     1337
1  Hydrozoa     1337
2  Hydrozoa     1337
3  Hydrozoa     1337
4  Hydrozoa     1337
5  Hydrozoa     1337
6  Hydrozoa     1337
7  Hydrozoa     1337
8  Hydrozoa     1337
9  Hydrozoa     1337

In [ ]:
#llamada a la API para ver las localizaciones de los nodes usando los uniques